#nav{
    /* background-color: aquamarine; */
    height: 60px;
}
#left_nav{
    float: left;
    margin-left:90px ;
}
#right_nav{
    float: right;
    
}
#right_nav_link{
    float: left;
    margin: 14px 100px 0px 0px;
}
#right_nav_btn{
    float: right;
    margin: 10px 40px 0px 0px;
}
.login{
    margin-right: 10px;
}
.nav_link{
    padding-left: 30px;
    text-decoration: none;
    color: black;
    font-weight: 500;
}
#wallpaper_div{
    width: 100%;
    height: 750px;
    /* background-color: rgb(139, 243, 208); */
    /* overflow: hidden; */
    position: relative;
}
#wallpaper_div img{
    opacity: 0.6;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 20px;
}
#wallpaper_div p{
    position: absolute;
    top: 50%;
    left: 20%;
    transform: translate(-50%, -50%);
    color: #1A3636;
    font-size: 50px;
    font-weight: bold;
}
#wallpaper_div button{
    position: absolute;
    top: 63%;
    left: 9.5%;
    transform: translate(-50%, -50%);
}
#about_us{
    height: 500px;
}
/* #abt_left_card{
    
    width: 380px;
    height: 360px;
    margin: 22% 0 0 27px;
    border: 1px solid green;
    border-radius: 7px;
    box-shadow: 2px 2px 2px 2px rgb(0,0,0,0.1); 
} */
#abt_left{
    float: left;
    width: 50%;
    height: 500px;
    position: relative;
    /* background-color: antiquewhite */
}
#abt_img{
    margin: 70px 0 0 300px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
}
#abt_img img{
    border-radius: 10px;

}
#abt_img_border{
    margin: 80px 0 0 340px;
    height: 315px;
    width: 320px;
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 2;
    border: 2px solid green;
    border-radius: 10px
}
#abt_right{
    float: right;
    /* background-color: aquamarine; */
    width: 50%;
    height: 500px;
}
#abt_right_content{
    margin: 100px 300px 0 0;
}
.cheakbox_icon{
    height: 20px;
    width: 20px;
    margin-right: 4px;
}
.service_icon{
    width: 40px;
    height: 40px;
}
#service{
    margin: 20px 10% 20px 15%;
    display: flex;
}
.services_div{
    width: 26%;
    height: 240px;
    border: 1px solid white;
    border-radius: 5px;
    margin-right: 40px;
    margin-top: 20px;
    transition: box-shadow 0.3s ease;
    box-shadow: 2px 2px 2px #ffffff;
    flex: 1;
}
.services_div:hover{
    box-shadow: 5px 5px 5px #888888;
}
#review{
    background-color: #EEEEEE;
    border-radius: 5px;
    height: 350px;
}
#profile_icon{
    width: 50px;
    height: 50px;
    margin: 30px 0 0 48.5%;
}
#learn_more{
    margin: 5% 15% 0 15%;
}
#learn_more_left{
    float: left;
    
    width: 50%;
    height: 350px;
}
#learn_more_right{
    float: right;
    padding-left: 80px;
    width: 50%;
    height: 350px;
}
#learn_more_img{
    width: 80%;
    height: 310px;
    border-radius: 10px;
    object-fit: fill;
}

#contact_div{
    background-color: rgb(81, 170, 89);
    margin: 6% 5% 0 23%;
    width: 55%;
    height: 230px;
    border-radius: 5px;
}
#footer{
    background-color: #EEEEEE;
    height: 300px;
    margin-top: 50px;
}
#footer_left{
    float: left;
    width: 30%;
    margin: 100px 0 0 100px;
}
#footer_right{
    float: right;
    width: 30%;
    margin: 100px 0 0 100px;
}